[submodule "datasets/tl_calamancy_gold_corpus/tlunified-ner"]
	path = datasets/tl_calamancy_gold_corpus/tlunified-ner
	url = https://huggingface.co/dataasets/ljvmiranda921/tlunified-ner
[submodule "website/themes/hugo-texify3"]
	path = website/themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
[submodule "website/themes/xmin"]
	path = website/themes/xmin
	url = https://github.com/yihui/hugo-xmin
